<div class="formgrid grid justify-content-center" style="margin-top: 4em;">
    <div class="col-12 sm:col-6 md:col-4">
        <p-card>
            <div class="formgrid grid">
                <div class="col-12 text-center">
                    <i class="fas fa-car fa-3x" style="color: #007AD9"></i>
                    <h2>Car Sales</h2>
                </div>
                <div class="col-12">
                    <label for="">Usuário:</label>
                    <input [(ngModel)]="requestLogin.login" type="text" pInputText class="col-12 p-2" />
                </div>
                <div class="col-12">
                    <label for="">Senha:</label>
                    <input [(ngModel)]="requestLogin.password" type="password" pInputText class="col-12 p-2" />
                </div>
                <div class="col-12 pt-4">
                    <button (click)="doLogin()" pButton type="button" label="Entrar" class="col-12 p-2"></button>
                </div>
            </div>
        </p-card>
    </div>
</div>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/primeflex@latest/primeflex.css">